In [ ]:
import pandas as pd
from datetime import datetime

In [2]:
# note: python is case-sensitive
# Pandas is not the same as pandas
# DateTime is not the same as datetime

In [4]:
My_List = [1, 2, 3, 4, 5]
My_df = pd.DataFrame(My_List, columns=['Numbers'])

In [5]:
print(My_df)

   Numbers
0        1
1        2
2        3
3        4
4        5

In [3]:
# PATIENT table
patient_data = [
    ['1', 'John', 'A', 'Smith', '1952-01-01', '1206 Fox Hollow Rd.', 'Pittsburgh', 'PA', '15213', '6789871234', 'M'],
    ['2', 'Candice', 'P', 'Jones', '1978-02-03', '1429 Orlyn Dr.', 'Los Angeles', 'CA', '90024', '3107381419', 'F'],
    ['3', 'Regina', 'H', 'Wilson', '1985-04-23', '765 Chestnut Ln.', 'Albany', 'NY', '12065', '5184590206', 'F'],
    ['4', 'Harold', '', 'Lee', '1966-11-15', '2928 Policy St.', 'Providence', 'RI', '02912', '6593482691', 'M'],
    ['5', 'Stan', 'P', 'Davis', '1958-12-30', '4271 12th St.', 'Atlanta', 'GA', '30339', '4049814933', 'M']
]
PATIENT = pd.DataFrame(patient_data, columns=['Pid', 'Fname', 'Minit', 'Lname', 'Bdate', 'Street', 'City', 'State', 'Zip', 'Phone', 'Sex'])
PATIENT['Bdate'] = pd.to_datetime(PATIENT['Bdate'])

# VISIT table
visit_data = [
    ['1', '10001', '2016-01-09', 'JOHNSON', 'I50.9', 'Heart failure, unspecified', 'I10', 'Essential (primary) hypertension'],
    ['1', '10002', '2016-01-17', 'JOHNSON', 'I50.9', 'Heart failure, unspecified', 'I10', 'Essential (primary) hypertension'],
    ['2', '10003', '2016-01-15', 'WU', 'I20.9', 'Angina pectoris, unspecified', 'E11.9', 'Type 2 diabetes mellitus without complications'],
    ['3', '10004', '2016-02-01', 'JOHNSON', 'I10', 'Essential (primary) hypertension', '', ''],
    ['4', '10005', '2016-02-27', 'WU', 'I27.0', 'Primary pulmonary hypertension', 'I50.9', 'Heart failure, unspecified'],
    ['5', '10006', '2016-03-01', 'WU', 'I50.9', 'Heart failure, unspecified', 'E11.9', 'Type 2 diabetes mellitus without complications']
]
VISIT = pd.DataFrame(visit_data, columns=['Pid', 'Visit_id', 'Visit_date', 'Attending_md', 'Pri_dx_icd', 'Pri_dx_name', 'Sec_dx_icd', 'Sec_dx_name'])
VISIT['Visit_date'] = pd.to_datetime(VISIT['Visit_date'])

# MEDICATIONS table
medications_data = [
    ['1', 'LISINOPRIL', '5 mg', 'bid', 'po', 'JOHNSON', '01/09/2016', '68180-513-01'],
    ['1', 'FUROSEMIDE', '20 mg', 'bid', 'po', 'JOHNSON', '01/09/2016', '50742-104-01'],
    ['2', 'NITROGLYCERIN', '0.4 mg', 'tid', 'sl', 'WU', '01/15/2016', '59762-3304-1'],
    ['2', 'METFORMIN', '500 mg', 'bid', 'po', 'WU', '01/15/2016', '65162-175-10'],
    ['2', 'ASPIRIN', '81 mg', 'qdaily', 'po', 'WU', '01/15/2016', '63981-563-51'],
    ['2', 'METOPROLOL TARTRATE', '25 mg', 'bid', 'po', 'WU', '01/15/2016', '62332-112-31'],
    ['3', 'VALSARTAN HCTZ', '160/12.5 mg', 'qdaily', 'po', 'JOHNSON', '02/01/2016', '51655-950-52'],
    ['4', 'DILTIAZEM HYDROCHOLORIDE', '300 mg', 'qdaily', 'po', 'WU', '02/27/2016', '52544-693-19'],
    ['4', 'LISINOPRIL', '10 mg', 'bid', 'po', 'WU', '02/27/2016', '68180-514-01'],
    ['4', 'FUROSEMIDE', '40 mg', 'bid', 'po', 'WU', '02/27/2016', '68788-1966-1'],
    ['5', 'LISINOPRIL', '5 mg', 'bid', 'po', 'WU', '03/01/2016', '68180-513-01'],
    ['5', 'FUROSEMIDE', '20 mg', 'bid', 'po', 'WU', '03/01/2016', '50742-104-01'],
    ['5', 'METFORMIN', '500 mg', 'bid', 'po', 'WU', '03/01/2016', '65162-175-10']
]
MEDICATIONS = pd.DataFrame(medications_data, columns=['Pid', 'Rx_name', 'Rx_dose', 'Rx_freq', 'Rx_route', 'Prescribing_md', 'Rx_date', 'Rx_ndc'])
MEDICATIONS['Rx_date'] = pd.to_datetime(MEDICATIONS['Rx_date'])

# LABS table
labs_data = [
    ['1', 'Natriuretic peptide B', 'BNP', '42637-9', '350', 'JOHNSON', '2016-01-09'],
    ['2', 'Natriuretic peptide B', 'BNP', '42637-9', '100', 'WU', '2016-01-15'],
    ['2', 'Glucose', 'GLU', '2345-7', '225', 'WU', '2016-01-15'],
    ['2', 'Troponin I', 'TROP', '10839-9', '<0.004', 'WU', '2016-01-15'],
    ['4', 'Natriuretic peptide B', 'BNP', '42637-9', '1000', 'WU', '2016-02-27'],
    ['5', 'Natriuretic peptide B', 'BNP', '42637-9', '400', 'WU', '2016-03-01'],
    ['5', 'Glucose', 'GLU', '2345-7', '318', 'WU', '2016-03-01']
]
LABS = pd.DataFrame(labs_data, columns=['Pid', 'Lab_name', 'Lab_abbrev', 'Lab_loinc', 'Lab_value', 'Ordering_md', 'Lab_date'])
LABS['Lab_date'] = pd.to_datetime(LABS['Lab_date'])

# VITALS table
vitals_data = [
    ['1', '10001', 70, 188.4, 98.6, 95, 18, 154, 94, 97],
    ['1', '10002', 70, 188.4, 99.1, 85, 17, 157, 96, 100],
    ['2', '10003', 63, 130.2, 98.7, 82, 16, 120, 81, 100],
    ['3', '10004', 65, 120.0, None, 100, 19, 161, 100, 98],
    ['4', '10005', 66, 211.4, 98.2, 95, 19, 143, 84, 93],
    ['5', '10006', 69, 150.0, 97.6, 77, 18, 130, 86, 99]
]
VITALS = pd.DataFrame(vitals_data, columns=['Pid', 'Visit_id', 'Height_in', 'Weight_lb', 'Temp_f', 'Pulse', 'Resp_rate', 'Bp_syst', 'Bp_diast', 'SpO2'])

# MORT table
mort_data = [
    ['1', '2016-05-15'],
    ['4', '2016-06-08']
]
MORT = pd.DataFrame(mort_data, columns=['Pid', 'Mortality_date'])
MORT['Mortality_date'] = pd.to_datetime(MORT['Mortality_date'])

# Display sample data
print(PATIENT)

  Pid    Fname Minit   Lname      Bdate               Street         City  \
0   1     John     A   Smith 1952-01-01  1206 Fox Hollow Rd.   Pittsburgh
1   2  Candice     P   Jones 1978-02-03       1429 Orlyn Dr.  Los Angeles
2   3   Regina     H  Wilson 1985-04-23     765 Chestnut Ln.       Albany
3   4   Harold           Lee 1966-11-15      2928 Policy St.   Providence
4   5     Stan     P   Davis 1958-12-30        4271 12th St.      Atlanta

  State    Zip       Phone Sex
0    PA  15213  6789871234   M
1    CA  90024  3107381419   F
2    NY  12065  5184590206   F
3    RI  02912  6593482691   M
4    GA  30339  4049814933   M